# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform plan files
*.tfplan

# Ignore local .terraform directories
.terraform*

# Ignore IDE and editor settings
.idea/
.vscode/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore environment-specific files
.env

# Ignore secrets files
*.pem
*.key
*.crt
